* {
  color: aliceblue;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

.App {
  height: 100vh;
  /* width: 100%; */
  background-image: url('./assets/images/MainBackground.png');
  background-size: cover;
}

/*! Media Queries */

/* Mobile Phones */
@media (max-width: 414px) {
  .App {
    height: 115vh;
  }
  .main {
    flex-direction: column;
  }
  .tweet-container {
    margin-top: 1.5rem;
  }
}
