input.form-control {
  text-align: center;
}
button.btn {
  margin-top: 1rem;
  background-color: #160c28;
  color: whitesmoke;
}
button.btn:hover {
  background-color: whitesmoke;
  color: #160c28;
}
.empty-title,
.empty-sub {
  font-family: 'Balsamiq Sans', cursive;
}
